.robot-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.robot-face-shape {
  font-size: 10px;
  height: 50em;
  width: 500px;
  position: absolute;
  top: 250px;
  left: 500px;
  background-image: linear-gradient(cadetblue, steelblue);
  border-radius: 10px;
  border: solid palevioletred 4px;
}

.robot-eye-left {
  --r: 90px; /* control the rounded part */
  --s: 20px; /* control the size of the cut */
  --a: 10deg; /* control the depth of the curvature */
  --p: 40%; /* control the position */

  width: 200px;
  aspect-ratio: 2/3;
  border-radius: var(--r);
  --_m: , #000 calc(100% - 1px), #0000;
  --_r: var(--r) at calc(100% - var(--r));
  --_d: (var(--s) + var(--r)) * cos(var(--a));
  mask: radial-gradient(var(--_r) calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--_r) calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(
        var(--s) at calc(100% + sin(var(--a)) * var(--s)) var(--p),
        #0000 100%,
        #000 calc(100% + 1px)
      )
      calc(var(--r) * (sin(var(--a)) - 1)) 0 no-repeat,
    linear-gradient(
      #000 calc(var(--p) - var(--_d)),
      #0000 0 calc(var(--p) + var(--_d)),
      #000 0
    );
  height: 100px;
  width: 150px;
  position: relative;
  bottom: -90px;
  left: 70px;
  background: rebeccapurple;
  border: black 3px solid;
}

.robot-eye-right {
  /* HTML: <div class="sparkle"></div> */
  height: 170px;
  width: 170px;
  background-image: url("https://picsum.photos/id/306/300/250");
  background-position: -112px -50px;
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  position: relative;
  top: -50px;
  left: 290px;
}

.robot-ear-left {
  --t: 10%; /* control the tail part */
  --h: 90%; /* control the head part */
  aspect-ratio: 3/2;
  width: 150px;
  background: radial-gradient(crimson, gold);
  clip-path: polygon(
    0 calc(50% - var(--t) / 2),
    calc(100% - var(--h)) calc(50% - var(--t) / 2),
    calc(100% - var(--h)) 0,
    100% 50%,
    calc(100% - var(--h)) 100%,
    calc(100% - var(--h)) calc(50% + var(--t) / 2),
    0 calc(50% + var(--t) / 2)
  );
  height: 200px;
  position: relative;
  top: 350px;
  left: 1005px;
}

.robot-ear-right {
  /* HTML: <div class="wifi-icon"></div> */
  --n: 4; /* number of bars */

  height: 280px;
  aspect-ratio: 1;
  border-radius: 50%;
  --s: calc(100% / (2 * var(--n) - 1));
  background: repeating-radial-gradient(
    50% 50%,
    #0000 0,
    yellow,
    blue 70px calc(var(--s) - 1px),
    #0000 var(--s) calc(2 * var(--s))
  );
  mask: conic-gradient(#000 0 0) no-repeat 50% / var(--s) var(--s),
    conic-gradient(
      from -45deg at 50% calc(50% + var(--s) / 2),
      #000 90deg,
      #0000 0
    );
  position: relative;
  rotate: -90deg;
  top: 120px;
  left: 335px;
}

.robot-nose {
  --p: 50px; /* control the shape (can be percentage) */
  aspect-ratio: 3/2;
  clip-path: polygon(var(--p) 0, calc(100% - var(--p)) 0, 100% 100%, 0 100%);
  height: 90px;
  width: 120px;
  position: relative;
  top: -50px;
  left: 195px;
  background-image: radial-gradient(darkgreen, yellow);
  border: dashed gainsboro 4px;
}

.robot-teeth {
  height: 100px;
  width: 400px;
  position: relative;
  top: 0px;
  left: 50px;
  background: black;
  border-radius: 20% 20% 20% 20%;
  border: 4px solid chartreuse;
  overflow: hidden;
}

.robot-tooth1 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  height: 30px;
  width: 30px;
  position: relative;
  top: 0px;
  left: 20px;
  background-image: linear-gradient(grey, white 70%);
}
.robot-tooth2 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background-image: linear-gradient(grey, white 70%);
  height: 30px;
  width: 30px;
  position: relative;
  top: -30px;
  left: 80px;
}
.robot-tooth3 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background-image: linear-gradient(grey, white 70%);
  height: 30px;
  width: 30px;
  position: relative;
  top: -60px;
  left: 140px;
}
.robot-tooth4 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background-image: linear-gradient(grey, white 70%);
  height: 30px;
  width: 30px;
  position: relative;
  top: -90px;
  left: 200px;
}
.robot-tooth5 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background-image: linear-gradient(grey, white 70%);
  height: 30px;
  width: 30px;
  position: relative;
  top: -120px;
  left: 260px;
}
.robot-tooth6 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background-image: linear-gradient(grey, white 70%);
  height: 30px;
  width: 30px;
  position: relative;
  top: -150px;
  left: 320px;
}
.robot-tooth7 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(white 30%, grey);
  height: 30px;
  width: 30px;
  position: relative;
  top: -118px;
  left: 50px;
}
.robot-tooth8 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(white 30%, grey);
  height: 30px;
  width: 30px;
  position: relative;
  top: -148px;
  left: 110px;
}
.robot-tooth9 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(white 30%, grey);
  height: 30px;
  width: 30px;
  position: relative;
  top: -178px;
  left: 170px;
}
.robot-tooth10 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(white 30%, grey);
  height: 30px;
  width: 30px;
  position: relative;
  top: -208px;
  left: 230px;
}
.robot-tooth11 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(white 30%, grey);
  height: 30px;
  width: 30px;
  position: relative;
  top: -238px;
  left: 290px;
}
.robot-tooth12 {
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(white 30%, grey);
  height: 30px;
  width: 30px;
  position: relative;
  top: -268px;
  left: 350px;
}

.robot-hair-style {
  height: 50px;
  width: 300px;
  position: relative;
  top: -290px;
  left: 600px;
  background-image: repeating-radial-gradient(azure 50px, limegreen);
  border-radius: 50%;
}

.robot-hair-one1 {
  --a: 90deg; /* control the angle */
  --s: 50px; /* size of the zig-zag */
  --b: 10px; /* control the thickness */
  background-image: url("https://picsum.photos/id/41/100/100");
  width: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
  min-height: 150px;
  --_g: 100% var(--s) repeat-y
    conic-gradient(
      from calc(90deg - var(--a) / 2) at left,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    );
  mask: var(--b) 50% / var(--_g) exclude, 0 50% / var(--_g);
  position: relative;
  top: -110px;
  left: -43px;
  rotate: -35deg;
}

.robot-hair-two1 {
  --s: 20px; /* control the shape (can be percentage) */
  height: 100px;
  aspect-ratio: 3/5;
  clip-path: polygon(
    100% 0,
    calc(100% - var(--s)) 0,
    0 50%,
    calc(100% - var(--s)) 100%,
    100% 100%,
    var(--s) 50%
  );
  background: indianred;
  position: relative;
  top: -225px;
  left: 59px;
}

.robot-hair-three {
  height: 100px; /* control the size */
  aspect-ratio: 0.56;
  clip-path: polygon(
    100% 0,
    23% 46%,
    46% 44%,
    15% 69%,
    38% 67%,
    0 100%,
    76% 57%,
    53% 58%,
    88% 33%,
    60% 37%
  );
  background-image: linear-gradient(
    gold,
    silver,
    gold,
    silver,
    gold,
    silver,
    gold
  );
  position: relative;
  top: -357px;
  left: 121px;
  rotate: -18deg;
}

.robot-hair-two {
  --s: 20px; /* control the shape (can be percentage) */

  height: 100px;
  aspect-ratio: 3/5;
  clip-path: polygon(
    0 0,
    var(--s) 0,
    100% 50%,
    var(--s) 100%,
    0 100%,
    calc(100% - var(--s)) 50%
  );
  background: plum;
  position: relative;
  top: -425px;
  left: 181px;
}

.robot-hair-one {
  --s: 13px; /* size of the wave */
  --b: 10px; /* thickness of the line */
  --m: 0.1; /* curvature of the wave [0 2] */

  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  width: calc(2 * var(--R));
  min-height: 150px;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at top 50% right calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - var(--s) / 2 - var(--b) / 2) calc(50% - 2 * var(--s)) /
      calc(var(--s) + var(--b)) calc(4 * var(--s)) repeat-y,
    radial-gradient(
        var(--R) at top 50% left calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% + var(--s) / 2 + var(--b) / 2) 50% / calc(var(--s) + var(--b))
      calc(4 * var(--s)) repeat-y;
  background-image: linear-gradient(brown, burlywood, chocolate);
  position: relative;
  top: -560px;
  left: 303px;
  rotate: 35deg;
}

.robot-beauty-mark {
  height: 10%;
  width: 10%;
  background-color: black;
  position: absolute;
  left: 100px;
  top: 300px;
  border-radius: 50%;
  border: white solid 2px;
  opacity: 0.5;
}
